<configuration>

    <!-- CONSOLE APPENDER -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- Only show INFO and higher on console -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- FILE APPENDER -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- <file>D:/PMA Application/NEW PMA 4.0/pg360-pdome/trunk/logs/app.log</file> -->
        <file>D:/krowdless_soft/logs/user_mgmt.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- <fileNamePattern>D:/PMA Application/NEW PMA 4.0/pg360-pdome/trunk/logs/app-%d{yyyy-MM-dd}.log</fileNamePattern> -->
            <fileNamePattern>D:/krowdless_soft/logs/user-mgmt-%d{yyyy-MM-dd}.log</fileNamePattern>

            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <!-- Exclude TRACE from file -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
    </appender>

    <!-- ROOT LOGGER -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
